<div>
  <h1
    style="text-align: center;
        font-family: Arial, sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        background:#000000;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 36px;
        margin-bottom:0px;"
  >BERZERK GYM</h1>
  <img
    src="https://bodytech.com.co/uploads/post/03d28af749454db285945cd083f60507/234-las-manos-en-el-gym.jpg"
    alt="gym"
    width="1140px"
  />
  <div class="row" style="display: flex; justify-content:space-between;">
    <a href="/auth/register">
      <button class="btn btn-primary btn-lg" type="button">ADD USER</button>
    </a>
    <a href="/users">
      <button class="btn btn-primary btn-lg" type="button">USERS</button>
    </a>
  </div>
</div>